table {
  border-collapse: collapse;
  width: 55rem;
}

tbody > tr:nth-child(odd) {
  background-color: #34495e;
}

td,
th {
  padding: 0.5rem 1rem;
  text-align: left;
  border: none;
}

.empty {
    font-size: 1.5rem;
    text-align: center;
  }